
#Cache files
*.pyc
*__pycache__/*

#Images
*.DS_Store
tests/*.jpg
tests/*.png
tests/*.jpeg

#Video/Audio
*.mp4
*.mp3

#CSV downloads
*.csv

#Notes
notes.txt

#Logs
*.log

#Project Files
projects/*
!projects/__init__.py

#Credentials
*client_secret.json
*oauth.json

#Package Stuff
mlb_videos.egg-info*

#Dev/archive/etc folders
.archive/
.dev/




