
#Cache / Mac stuff
*.pyc
*__pycache__/*
*.DS_Store

#Secret
queries/
creds/*.json
.idea

#Video/Audio
*.mp4
*.mp3

#CSV downloads
downloads/*.csv
mlb_videos/data/*.csv
tests/data/*.csv
*2021.csv
*2022.csv
*2023.csv

#Notes
notes.txt

#Logs
*.log
mlb_videos/logs

#Project Files
projects/

*.csv

client_secret.json

notes.txt


resources/*
!resources/__init__.py

credentials/*
!credentials/__init__.py



*.oauth.json
*.client_secret.json


resources/*.jpg
resoures/*.png

mlb_videos.egg-info*

.archive/

*oauth.json


.dev/