
#Cache / Mac stuff
*.pyc
*__pycache__/*
*.DS_Store

#Secret
queries/
creds/*.json
.idea

#Video/Audio
*.mp4
*.mp3

#CSV downloads
downloads/*.csv
mlb_videos/data/*.csv
tests/data/*.csv

#Notes
notes.txt

#Logs
*.log
mlb_videos/logs

#Project Files
projects/